<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.s198569.contentproviderbok">

    <uses-permission android:name="com.example.s198569.contentproviderbok.permission" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <permission android:name="com.example.contentproviderbok.permission" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ContentProviderBok"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.example.s198569.contentproviderbok.BokCP"
            android:authorities="com.example.s198569.contentproviderbok"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.example.s198569.contentproviderbok.permission"
            android:writePermission="com.example.s198569.contentproviderbok.permission">
        </provider>

    </application>

</manifest>
